

.card {
  width: 100%;
max-width: 380px;
  background: #f5f7ff;
  border-radius: 24px;
  padding: 26px 28px;
  height: 280px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 18px;
}

.profile img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  object-fit: cover;
}

.profile h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #1e1b4b;
  font-family: "Rowdies";
}

.profile p {
  margin: 2px 0 0;
  font-size: 13px;
  color: #7E7EAA;
  font-family: "Saira";

}

.review {
  font-size: 12px;
  line-height: 1.7;
  color: #7c7bb4;
  margin-bottom: 18px;
  font-family: "Saira";
}

.stars {
  display: flex;
  gap: 6px;
  position: absolute;
  bottom: 20px;
}

.star {
  font-size: 18px;
  color: #fbbf24;
}

.inactive {
  color: #c7c9ff;
}