.hero {
    position: relative;
    min-height: 100vh;
    padding: 0 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #6a00ff, #2563eb);
    color: white;
    overflow: hidden;
}

.ellipse {
    position: absolute;
    left: -120px;
    top: 50%;
    transform: translateY(-50%);
    width: 380px;
    opacity: 0.6;
}

.left {
    max-width: 520px;
    z-index: 2;
}

.left h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.left h1 span {
    color: #7cff9b;
}

.left p {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.description {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.6;
    opacity: 0.9;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 16px;
}

.btn1 {
    background: white;
    color: #2563eb;
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.btn2 {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    cursor: pointer;
}

.center {
    position: absolute;
    left: 38%;
    bottom: -25%;
}

.right {
    max-width: 520px;
    z-index: 2;
    max-height: 100vh;
}

.card1 {
    position: relative;
    top: 125px;
    right: 50px;
    width: 260px;
}

.text p {
    text-align: start;
}

.strip {
    position: absolute;
    top: 130px;
    right: 660px;
}

.stars {
    color: #7cff9b;
}

.boy {
    transform: scaleX(-1);
    position: relative;
    height: auto;
    width: 810px;
    right: 160px;
    bottom: 118px;
}

.sty1 {
    width: 230px;
}

@media (max-width: 1024px) {
    .boy {
        display: none;
    }

    .center {
        display: none;
    }

    .left p {
        width: 360px;
    }

    .right {
        position: absolute;
        right: 180px;
        top: 0;
        text-align: left;
    }

    .right h4 {
        font-size: larger;
    }

    .right p {
        width: 400px;
        font-size: larger;
        text-align: left;
    }
}

@media (max-width: 768px) {
    .hero {
        min-height: 100vh;
        height: auto;
        flex-direction: column;
        justify-content: center;
        padding: 20px 6vw;
        text-align: left;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: x-large;
    }

    .left h1 {
        font-size: 40px;
    }

    .left p {
        width: 60vw;
        font-size: large;
        text-align: left;
    }

    .buttons {
        margin-top: 20px;
        display: flex;
        gap: 16px;
        align-self: flex-start;
    }

    .btn1 {
        background: white;
        color: #2563eb;
        border: none;
        padding: 12px 10px;
        border-radius: 8px;
        font-weight: 600;
        cursor: pointer;
    }

    .btn2 {
        background: transparent;
        border: 1px solid white;
        color: white;
        padding: 12px 10px;
        border-radius: 8px;
        cursor: pointer;
    }

    .card1 {
        margin-top: 20px;
        top: auto;
        right: 0;
    }

    .right {
        position: relative;
        bottom: 120px;
        right: 20px;
    }

    .right h4 {
        font-size: 30px;
    }

    .right p {
        width: 280px;
        font-size: large;
        text-align: left;
    }

    .description {
        margin-top: 10px;
    }
}
