.hero {
    position: relative;
    min-height: 100vh;
    padding: 0 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #6a00ff, #2563eb);
    color: white;
    overflow: hidden;
}

.ellipse {
    position: absolute;
    left: -120px;
    top: 50%;
    transform: translateY(-50%);
    width: 380px;
    opacity: 0.6;
}


.left {
    max-width: 520px;
    z-index: 2;
}

.left h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.left h1 span {
    color: #7cff9b;
}

.left p {

    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.description {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.6;
    opacity: 0.9;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 16px;
}

.btn1 {
    background: white;
    color: #2563eb;
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.btn2 {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    cursor: pointer;
}

.center {
    position: absolute;
    left: 38%;
    bottom: -25%;
}

.right {
    max-width: 520px;
    z-index: 2;
    max-height: 100vh;
}

.card1 {
    display: flex;
    gap: 10px;
    position: relative;
    top: 125px;
    right: 30px;
    width: 280px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stars {
    color: #7cff9b;
}

.boy {
    transform: scaleX(-1);
    position: relative;
    height: auto;
    width: 810px;
    right: 160px;
    bottom: 101px;
}

.sty1 {
    width: 230px;
}

@media (max-width: 1024px) {
    .boy{
        display: none;
    }

    .center {
        display: none;
    }

    .right {
        position: relative;
        height: 80vh;
        width: auto;
        font-size: larger;
    }
}

@media (max-width:786px) {
      .hero{
        display: flex;
        flex-direction:column;
        padding-top: 20px;
        gap: 0;
        max-height: 100vh;
    }
    .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: x-large;
    }
    .left h1{
        font-size: 50px;
    }
    .left p{
        width: 60vw;
        font-size: large;
    }
    .right{
        position: relative;
        bottom: 100px;
        font-size: large;
    }
    
}

@media (max-width: 768px) {
    .hero {
        min-height: 100vh;  
        height: auto;
        flex-direction: column;
        justify-content: center;
        padding: 20px 6vw;
        text-align: center;
        gap: 20px;
    }

    .left {
        align-items: center;
    }

    .left h1{
        font-size: 40px;
    }

    .right{
        font-size: larger;
    }

   .buttons {
    margin-top: 20px;
    display: flex;
    gap: 16px;

}

.btn1 {
    background: white;
    color: #2563eb;
    border: none;
    padding: 12px 10px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.btn2 {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 10px;
    border-radius: 8px;
    cursor: pointer;
}

    .card1 {
        top: 100px;
        right: 0;
        margin-top: 24px;
        margin-inline: auto;
    }

    .description {
        margin-top: 10px;
    }
}
