.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(135deg,#D9ECFF,#F0F3FF00);
    position: relative;
    min-height: 100vh;  
    justify-content: center;
    align-items: center;
    padding: 20px;
}



.primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    text-align: center;
}

.primary h3 {
    font-size: 26px;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    padding-bottom: 15px;
}

.highlight {
    color: #2AAA94;
}

.primary p {
    width: 100%;
    max-width: 440px; 
    color: #4E596B;
}



.ellipse {
    position: absolute;
    left: 150px;
    top: 80px;
    width: 70px;
    height: auto;
}



.secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    gap: 10px;
    max-width: 1200px;  
}



.third {
    margin: 30px 0;
    text-align: center;
}

.btn {
    font-family: "Saira", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    border: 0;
    color: #FFFFFF;
    background: linear-gradient(135deg,#083F9B,#7F56D9);
    padding: 6px 14px; 
}

@media(max-width:1080px){
    .ellipse{
        left: 120px;
        top: 50px;
        width: 40px;
    }
}

@media (max-width: 768px) {
    .ellipse {
        display: none;
    }
}



@media (max-width: 480px) {
    .primary h3 {
        font-size: 22px;
    }

    .primary p {
        font-size: 13px;
    }

    .btn {
        padding: 10px 16px;
    }
}
